<!DOCTYPE html>
<html ng-app="chatApp">
<head>
	<meta charset="utf-8">
	<title>AngularJS + NodeJS demo</title>
	<link rel="stylesheet" href="css/screen.css">
	<script src="js/angular.min.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/chat.js"></script>
	<script src="http://localhost:1337/socket.io/socket.io.js"></script>
</head>
<body ng-controller="AppController">
<ul>
	<li ng-repeat="message in messages">
		<span class="username">[{{message.username}}]</span> {{message.text}}
	</li>
</ul>

<form ng-submit="sendMessage()">
	<input type="text" placeholder="Type your messag here..." ng-model="messageText"/><input type="submit" value="send"/>
</form>
</body>
</html>
